
javacardx.crypto.Cipher
ALG_DES_CBC_NOPAD
ALG_DES_CBC_ISO9797_M2
ALG_DES_ECB_NOPAD
ALG_RSA_NOPAD

javacard.crypto.Signature
ALG_DES_MAC8_ISO9797_M2
ALG_RSA_SHA_PKCS1
ALG_DES_MAC8_ISO9797_1_M2_ALG3

javacard.security.MessageDigest
ALG_SHA

javacard.security.RandomData
ALG_PSEUDO_RANDOM

javacard.security.KeyBuilder
TYPE_DES_TRANSIENT_RESET
TYPE_DES LENGTH_DES3_2KEY
TYPE_RSA_PUBLIC LENGTH_RSA_1024
TYPE_RSA_PRIVATE LENGTH_RSA_1024
