
javacardx.crypto.Cipher
ALG_RSA_PKCS1

javacard.crypto.Signature
ALG_ECDSA_SHA

javacard.security.RandomData
ALG_SECURE_RANDOM

javacard.security.KeyBuilder
TYPE_RSA_CRT_PRIVATE LENGTH_RSA_2048
TYPE_EC_FP_PRIVATE LENGTH_EC_FP_192
TYPE_EC_FP_PRIVATE LENGTH_EC_FP_224
TYPE_EC_FP_PRIVATE LENGTH_EC_FP_256
TYPE_EC_FP_PRIVATE LENGTH_EC_FP_320
TYPE_EC_FP_PRIVATE LENGTH_EC_FP_384
TYPE_EC_FP_PRIVATE LENGTH_EC_FP_512
TYPE_EC_FP_PRIVATE LENGTH_EC_FP_521

javacard.security.KeyPair ALG_RSA_CRT on-card generation
ALG_RSA_CRT LENGTH_RSA_2048
