
javacardx.crypto.Cipher
ALG_RSA_PKCS1
ALG_AES_BLOCK_128_CBC_NOPAD

javacard.crypto.Signature
ALG_ECDSA_SHA
ALG_ECDSA_SHA_256
ALG_ECDSA_SHA_384
ALG_ECDSA_SHA_224
ALG_ECDSA_SHA_512

javacard.security.MessageDigest
ALG_SHA_256

javacard.security.RandomData
ALG_SECURE_RANDOM

javacard.security.KeyBuilder
TYPE_AES_TRANSIENT_DESELECT

javacard.security.KeyAgreement
ALG_EC_SVDP_DH_PLAIN
