
javacardx.crypto.Cipher
ALG_AES_CBC_ISO9797_M2

javacard.crypto.Signature
ALG_AES_MAC_128_NOPAD
ALG_HMAC_SHA_512
ALG_ECDSA_SHA_256

javacard.security.MessageDigest
ALG_SHA_256
ALG_SHA_512

javacard.security.RandomData
ALG_SECURE_RANDOM

javacard.security.KeyBuilder
TYPE_AES_TRANSIENT_DESELECT
TYPE_HMAC_TRANSIENT_DESELECT

javacard.security.KeyAgreement
ALG_EC_SVDP_DH_PLAIN
ALG_EC_SVDP_DH_PLAIN_XY
