
javacardx.crypto.Cipher
ALG_DES_CBC_NOPAD
ALG_RSA_PKCS1
ALG_RSA_NOPAD
ALG_RSA_PKCS1_OAEP

javacard.security.RandomData
ALG_SECURE_RANDOM

javacard.security.KeyBuilder
TYPE_DES LENGTH_DES3_3KEY
TYPE_RSA_PUBLIC LENGTH_RSA_1024
TYPE_RSA_PUBLIC LENGTH_RSA_2048
TYPE_RSA_PUBLIC LENGTH_RSA_3072
TYPE_RSA_PUBLIC LENGTH_RSA_4096
TYPE_RSA_CRT_PRIVATE LENGTH_RSA_1024
TYPE_RSA_CRT_PRIVATE LENGTH_RSA_2048
TYPE_RSA_CRT_PRIVATE LENGTH_RSA_3072
TYPE_RSA_CRT_PRIVATE LENGTH_RSA_4096

javacard.security.KeyPair ALG_RSA_CRT on-card generation
ALG_RSA_CRT LENGTH_RSA_1024
ALG_RSA_CRT LENGTH_RSA_2048
ALG_RSA_CRT LENGTH_RSA_3072
ALG_RSA_CRT LENGTH_RSA_4096
